@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");


* {
  --SoftBlue: #8bacd9;
	--Cyan: #00fff8;
	--mainBG: #0d192c;
	--cardBG: #15263f;
	--line: #2e405a;
	margin: 0;
	padding: 0;

  font-family: "Outfit", sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  
  padding: 2em 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainBG);
  
}



.banner {
	width: 100%;
	border-radius: 8px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	position: relative;
  padding: .7rem;
  
}

.equi {
	width: 100%;

}

.banner div {
  width: 93%;
  height: 93%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: hsla(178, 100%, 50%, 0.5);
	mix-blend-mode: normal;
	border-radius: 8px;
	opacity: 0;
  
}

.banner div:hover {
	opacity: 1;
  

}

.view {
	opacity: 1;
  padding: .7rem;
}

.title {
  
  font-size: 22px;
	font-weight: 600;
	margin-bottom: 16px;

}


.icons{
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.icons div{
  display:flex;
  align-items:center;
  gap: 10px;
}

.eth{
  color: cyan;
  font-size: small;
  
 
}

.time{
  color:rgb(191, 191, 226);
  font-size: small;
}

.divider{
  width: 100%;
	border: 1px solid var(--line);
}
#text{
  color: var(--SoftBlue);
  font-weight: 300;
 
}

.author{
  color:white;
  margin-left: 1rem;
  margin-top: 16px;
	display: flex;
	flex-direction: row;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	align-items: center;
	gap: 16px;
  
}

.avatar {
    border: 1px solid #8bacd9;
    border-radius: 50%;
    width: 33px;
  }


.author-link,
.title {
	text-decoration: none;
	color: white;
}

.author-link:hover,
.title:hover,
.banner div {
	cursor: pointer;
	color: var(--Cyan);
  
}

.footer{
  display: flex;
  align-items: center;

}
